.App {
  text-align: center;
}
main{
  width: 60%;
  margin: 20px auto;
  padding: 20px 30px;
  border: 2px solid orange;
  text-align: center;
}
/*  */
.daysStack{
  display: flex;
  justify-content: space-evenly;
}
.nextDays img {
  width: 80px;
}
/*  */
.searhInput {
  display: flex;
  justify-content: space-evenly;
}
.searhInput input{
  width: 70%;
  line-height: 30px;
}
.searhInput button {
  height: 40px;
  font-size: large;
  padding-right: 20px !important;
  padding-left: 20px !important;
}
/*  */
.currentWeather .temperature {
  font-weight: 400;
}
.currentWeather .temperature #celciumMode, .currentWeather .temperature #farenheitMode {
  color: rgb(183, 175, 175);
  font-style: italic;
} 
.currentWeather .temperature .activeMode {
  color: black !important;
  font-style: normal !important;
  font-weight: 600 !important;

}
/*  */
footer a {
  font-size: larger;
  text-decoration: none;
  color: orange;
}