.App {
  text-align: center;
}
main{
  width: 60%;
  margin: 20px auto;
  padding: 20px 30px;
  border: 2px solid orange;
  text-align: center;
}
/*  */
.daysStack{
  display: flex;
  justify-content: space-evenly;
}
.nextDays img {
  width: 80px;
}
/*  */
.seacrInput {
  display: flex;
  justify-content: space-evenly;
}
.seacrInput input{
  width: 70%;
  line-height: 30px;
}
.seacrInput button {
  height: 40px;
  font-size: large;
  padding-right: 20px !important;
  padding-left: 20px !important;
}
/*  */
footer a {
  font-size: larger;
  text-decoration: none;
  color: orange;
}